/* color variables  */
:root {
    --white: #FEFEFE;
    --gray: #AAABAC;
    --black: #1A1C1E;
    --green: #23D959;
    --red: #E02828;
    --blue: #2DB9FF;

    --lighter: rgba(255, 255, 255, 0.05);
    --darker: rgba(0, 0, 0, 0.2);
    --darkest: rgba(0, 0, 0, 0.6);
}

/* reset  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common */
body {
    font-family: 'Lato', sans-serif;
    background-color: var(--black);
    color: var(--white);
}

button {
    color: var(--white);
    border: none;
}

.btn.btn-green {
    color: var(--green);
}

.hide {
    display: none;
}

/* header  */
header {
    display: flex;
    height: 40px;
    width: 100%;
    padding: 5px;
}
    .header-left,
    .header-right {
        width: 50%;
    }
    .header-left {
        text-align: left;
    }
    .header-right {
        text-align: right;
    }

    header .btn {
        padding: .75em .75em;
        border-radius: .5em;
    }
    .header-left .btn {
        background-color: var(--darker);
    }
    .header-right .btn {
        background-color: var(--lighter);
    }
    header i:not(:only-child) {
        margin-right: .5em;
}

/* main: videos container */
main {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    height: calc(100vh - 40px - 70px);
    width: 95%;
    }
    .person {
        position: relative;
        margin: .2em;
        border-radius: .5em;
        overflow: hidden;
        background-color: var(--lighter);
        text-align: center;
    }
    .person img {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
    }
    .info {
        position: absolute;
        bottom: .5em;
        left: .5em;
        padding: .2em .5em;
        border-radius: .5em;
        background-color: var(--darker);
    }
    .mute {
        color: var(--red);
    }
    .unmute {
        color: var(--green);
    }
    .info i {
        margin-right: .5em;
}

footer {
    display: flex;
    align-items: center;
    height: 70px;
    background-image: linear-gradient(var(--lighter), var(--darker));
    padding: .3em;
    }
    .footer-left,
    .footer-right {
        width: 20%;
    }
    .footer-left {
        text-align: left;
    }
    .footer-center {
        text-align: center;
        flex-grow: 1;
    } 
    footer .btn {
        text-align: center;
        background-color: unset;
        border: none;
        position: relative;
        padding: .5em 1em;
        color: var(--gray);
        border-radius: .5em;
    }
    footer .btn:first-of-type {
        padding: .5em 2em;
    }
    footer .btn:hover,
    footer .btn:focus {
        background-color: var(--lighter);
    }
    footer i {
        font-size: 24px;
        margin-bottom: .3em;
    }
    footer .double-icon i {
        display: inline-block;
        height: 26px;
        width: 26px;
        line-height: 26px;
        border-radius: .2em;
        font-size: 16px;
        background-color: var(--gray);
        color: var(--black);
    }
    footer .btn-green i {
        display: inline-block;
        height: 26px;
        width: 36px;
        line-height: 26px;
        background-color: var(--green);
        color: var(--black);
        font-size: 16px;
        border-radius: .2em;
    }
    footer i:nth-child(2) {
        margin-left: .5em;
    }
    .footer-right {
        text-align: right;
    }
    .btn-exit {
        background-color: var(--red);
        border-radius: .5em;
        padding: .5em 2em;
        font-weight: bold;
    }
    /* interective component in the footer */
    .menu-arrow {
        position: absolute;
        font-size: 16px;
        padding: .5em;
        border-radius: .5em;
        top: 0;
        right: 5%;
    }
    .menu-arrow:hover,
    .menu-arrow:focus {
        background-color: var(--darker);
    }
    .btn.partecipants {
        padding: .5em 3em;
    }
    .partecipants::after {
        /* content: attr(data-value); */
        content: "25";
        position: absolute;
        top: .2em;
        right: 3.2em;
}

/* side button to change page  */
.btn.btn-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1.5em 1em .5em 1em;
    margin: .5em;
    background-color: unset;
    background-image: linear-gradient(rgba(0,0,0,0), var(--darkest));
    border: solid black 1px;
    color: var(--gray);
    }
    .btn.btn-arrow:hover,
    .btn.btn-arrow:focus {
        background-image: linear-gradient(var(--darkest), rgba(0,0,0,0));
    }
    .btn.btn-arrow:nth-of-type(2) {
        right: 0;
    }
    .btn.btn-arrow i {
        font-size: 50px;
        color: var(--blue);
}
