/* color variables  */
:root {
    --white: #FEFEFE;
    --grey: #AAABAC;
    --black: #1A1C1E;
    --green: #23D959;
    --red: #E02828;
    --blue: #2DB9FF;
}

/* reset  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common */
body {
    font-family: 'Lato', sans-serif;
    background-color: var(--black);
    color: var(--white);
}

button {
    color: var(--white);
    border: none;
}

.btn.btn-green {
    color: var(--green);
}

.hide {
    display: none;
}

/* header  */
header {
    display: flex;
    height: 40px;
    width: 100%;
    padding: 5px;
}
    .header-left,
    .header-right {
        width: 50%;
    }
    .header-left {
        text-align: left;
    }
    .header-right {
        text-align: right;
    }

    header .btn {
        padding: .75em .75em;
        border-radius: .5em;
    }
    .header-left .btn {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .header-right .btn {
        background-color: rgba(256, 256, 256, 0.05);
    }
    header i:not(:only-child) {
        margin-right: .5em;
}

/* main: videos container */
main {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    height: calc(100vh - 40px - 70px);
    width: 90%;
    }
    .person {
        position: relative;
        margin: .2em;
        border-radius: .5em;
        overflow: hidden;
        background-color: rgba(256, 256, 256, 0.05);
        text-align: center;
        /* background-image: url("../img/placeholder.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; */
    }
    .person img {
        height: 100%;
    }
    .info {
        position: absolute;
        bottom: .5em;
        left: .5em;
        padding: .2em .5em;
        border-radius: .5em;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .mute {
        color: var(--red);
    }
    .unmute {
        color: var(--green);
    }
    .info i {
        margin-right: .5em;
}

/* side arrows */
aside {
    position: absolute;
    top: 50%;
}

footer {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: .2em;
    }
    .footer-left,
    .footer-right {
        width: 20%;
    }
    .footer-left {
        text-align: left;
    }
    .footer-center {
        text-align: center;
        flex-grow: 1;
    } 
    footer .btn {
        text-align: center;
        background-color: unset;
        border: none;
        padding: .3em .5em;
        color: var(--gray);
    }
    footer i {
        font-size: 24px;
        margin-bottom: .2em;
    }
    footer .double-icon i {
        display: inline-block;
        height: 26px;
        width: 26px;
        line-height: 26px;
        border-radius: .2em;
        font-size: 16px;
        background-color: var(--white);
        color: var(--black);
    }
    footer .btn-green i {
        display: inline-block;
        height: 26px;
        width: 36px;
        line-height: 26px;
        background-color: var(--green);
        color: var(--black);
        font-size: 16px;
        border-radius: .2em;
    }
    footer i:nth-child(2) {
        margin-left: .5em;
    }
    .footer-right {
        text-align: right;
    }
    .btn-exit {
        background-color: var(--red);
        border-radius: .5em;
        padding: .5em 2em;
        font-weight: bold;
}
